extends ../layout

block content
    a(href='/bicicletas/create') A&ntilde;adir bici
    table.table

        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicación
        tbody

            each bici in bicis
                tr
                    td=bici.bicicletaID
                    td=bici.color
                    td=bici.modelo
                    td=bici.ubicacion
                    td
                        a(href='bicicletas/'+bici.bicicletaID+'/update') Editar
                    td
                        form.inline(method='post' action='/bicicletas/' + bici.bicicletaID + '/delete')
                            input(type='hidden' name='bicicletaID' value=bici.bicicletaID)
                            button.link-button(type='submit' class='btn')
                                ='Eliminar'